<%= render 'layouts/header' %>
  <div class="container d-flex flex-column align-items-center w-100">
  <%= link_to "Add Food Item", new_food_path, class: 'button-login my-2' %>
    
     <table class="table table-sm table-warning table-hover table-style">
      <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Measurement Unit</th>
      <th scope="col">Unit Price</th>
      <th scope="col">Quantity</th>
    </tr>
  </thead>
      <tbody>
        <% current_user.foods.each do |food|%>
              <tr>
                <td><%= food.name %></td>
                <td><%= food.measurement_unit %></td>
                <td><%= food.price %></td>
                <td><%= food.quantity %></td>
            </tr>
        <% end %>
     </tbody>
    </table>
  </div>