  <header class="container header-div mt-4 mb-4">
      
       <% if user_signed_in? %>
       <div class="d-flex justify-content-between align-items-center">
           <ul class="menu d-flex justify-content-between align-items-center">
              <li><%= image_tag 'logo-bg.png'%></li>
              <li><%= link_to "Food List", foods_path, class: "nav-link" %></li>
              <li><%= link_to "Recipe List", recipes_path, class: "nav-link" %></li>
              <li><%= link_to "Public Recipes", class: "nav-link" %></li>
            </ul>
            <div class="user-info d-flex justify-content-around align-items-center">
              <h5><%=  current_user.name %></h5>
              <%= link_to  destroy_user_session_path, method: :delete, type: 'button' do %>
                <i class="fa-solid fa-user fa-2xl"></i>
              <% end %>
            </div>
     
       </div>
       <% else %>
          <h1>Recipe</h1>
       <% end %>
  </header>