<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>RecipeApp</title>
    <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'recipes', type: 'module' %>
    <%= javascript_importmap_tags %>
  </head>
 
  <body>
  <div>
     <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
  </div>
  <main class="container main-content align-items-center">
      <%= yield %>
  </main>
  
      <script src="https://kit.fontawesome.com/b89d57aeef.js" crossorigin="anonymous"></script>
  </body>
</html>
